# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
weather_df = pd.read_csv('weather_df.csv')
weather_df = weather_df[["Cities","Country","Date Time","Temperature","Latitude","Longitude","Humidity","Cloudiness","Wind Speed"]]
weather_df

,Cities,Country,Date Time,Temperature,Latitude,Longitude,Humidity,Cloudiness,Wind Speed
0,Shahrud,IR,1.587620e+09,69.26,36.42,54.98,26.0,86.0,14.03
1,Ushuaia,AR,1.587619e+09,37.40,-54.80,-68.30,78.0,20.0,4.70
2,Kafue,ZM,1.587620e+09,66.56,-15.77,28.18,45.0,19.0,6.98
3,Tateyama,JP,1.587620e+09,64.00,34.98,139.87,55.0,20.0,18.34
4,Yaan,NG,1.587619e+09,78.06,7.38,8.57,81.0,100.0,6.44
...,...,...,...,...,...,...,...,...,...
553,Erbaa,TR,1.587621e+09,42.80,40.67,36.57,70.0,75.0,4.70
554,Guiratinga,BR,1.587621e+09,66.90,-16.35,-53.76,81.0,80.0,2.04
555,Graneros,CL,1.587621e+09,63.86,-34.07,-70.73,44.0,100.0,1.92
556,Ýpsonas,CY,1.587621e+09,69.01,34.69,32.96,77.0,20.0,14.99
557,Darłowo,PL,1.587621e+09,44.01,54.42,16.41,81.0,0.0,6.51

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [3]:
# Configure gmaps
gmaps.configure(api_key=g_key)

In [4]:
# Store latitude and longitude in locations
locations = weather_df[["Latitude", "Longitude"]]

humidity = weather_df["Humidity"]

In [5]:
fig = gmaps.figure()
heat_layer = gmaps.heatmap_layer(
    locations,
    weights=humidity,
    dissipating=True,
    point_radius=None,
    opacity=0.6
)

# Add layer
fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [6]:
vacation_df = weather_df.drop(weather_df[(weather_df['Temperature'] <70) | (weather_df['Temperature'] >80) | (weather_df['Cloudiness'] >20) | (weather_df['Humidity'] >30)].index)
vacation_df

,Cities,Country,Date Time,Temperature,Latitude,Longitude,Humidity,Cloudiness,Wind Speed
10,San Gabriel,US,1.587620e+09,77.00,34.10,-118.11,27.0,1.0,14.99
87,Suzun,RU,1.587620e+09,78.15,53.78,82.31,24.0,4.0,19.19
170,Kumul,CN,1.587620e+09,75.42,42.80,93.45,10.0,0.0,8.43
188,Jalu,LY,1.587620e+09,78.69,29.03,21.55,18.0,0.0,15.46
253,Spring Valley,US,1.587620e+09,79.00,36.11,-115.25,16.0,1.0,4.70
346,Sabha,LY,1.587621e+09,78.46,27.04,14.43,18.0,0.0,16.24
425,Korla,CN,1.587621e+09,71.83,41.76,86.15,15.0,5.0,3.65
516,Sakakah,SA,1.587621e+09,78.80,29.97,40.21,17.0,0.0,16.11
521,Ayagoz,KZ,1.587621e+09,77.38,47.97,80.44,16.0,0.0,17.49

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [7]:
hotel_df = vacation_df.rename(columns={"Cities": "City"})
hotel_df["Coordinates"] = hotel_df["Latitude"].map(str) + ', ' + hotel_df["Longitude"].map(str)
hotel_df["Hotel Name"] = ""
hotel_df

,City,Country,Date Time,Temperature,Latitude,Longitude,Humidity,Cloudiness,Wind Speed,Coordinates,Hotel Name
10,San Gabriel,US,1.587620e+09,77.00,34.10,-118.11,27.0,1.0,14.99,"34.1, -118.11",
87,Suzun,RU,1.587620e+09,78.15,53.78,82.31,24.0,4.0,19.19,"53.78, 82.31",
170,Kumul,CN,1.587620e+09,75.42,42.80,93.45,10.0,0.0,8.43,"42.8, 93.45",
188,Jalu,LY,1.587620e+09,78.69,29.03,21.55,18.0,0.0,15.46,"29.03, 21.55",
253,Spring Valley,US,1.587620e+09,79.00,36.11,-115.25,16.0,1.0,4.70,"36.11, -115.25",
346,Sabha,LY,1.587621e+09,78.46,27.04,14.43,18.0,0.0,16.24,"27.04, 14.43",
425,Korla,CN,1.587621e+09,71.83,41.76,86.15,15.0,5.0,3.65,"41.76, 86.15",
516,Sakakah,SA,1.587621e+09,78.80,29.97,40.21,17.0,0.0,16.11,"29.97, 40.21",
521,Ayagoz,KZ,1.587621e+09,77.38,47.97,80.44,16.0,0.0,17.49,"47.97, 80.44",

In [8]:
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

params = {
    "radius": "5000",
    "type": "lodging",
    "key": g_key,}   

for index, row in hotel_df.iterrows():
    # get coordinates
    city = row["City"]
    location = row["Coordinates"]
    # add location parameter to the params dictionary
    params["location"] = location
    try:
        # create the API request
        response = requests.get(base_url, params=params).json()
        
        # find the name of the hotel and add it to the dataframe
        hotel_name = response["results"][0]["name"]
        hotel_df.loc[index, "Hotel Name"] = hotel_name
        print(f"The hotel for {city} is {hotel_name}")
    except: 
        print(f"No hotels found for {city}")

The hotel for San Gabriel is Hilton Los Angeles/San Gabriel
The hotel for Suzun is Elegant Lyuks
The hotel for Kumul is Laoyutang Resort
The hotel for Jalu is Jalu Hotel
The hotel for Spring Valley is Westgate Flamingo Bay Resort
The hotel for Sabha is محطة ام الارانب -سبها مواصلات
The hotel for Korla is Gulisitan Hotel
The hotel for Sakakah is Fakhamat Al Orjoana Apartment
The hotel for Ayagoz is Gostinitsa Nur

In [9]:
hotel_df

,City,Country,Date Time,Temperature,Latitude,Longitude,Humidity,Cloudiness,Wind Speed,Coordinates,Hotel Name
10,San Gabriel,US,1.587620e+09,77.00,34.10,-118.11,27.0,1.0,14.99,"34.1, -118.11",Hilton Los Angeles/San Gabriel
87,Suzun,RU,1.587620e+09,78.15,53.78,82.31,24.0,4.0,19.19,"53.78, 82.31",Elegant Lyuks
170,Kumul,CN,1.587620e+09,75.42,42.80,93.45,10.0,0.0,8.43,"42.8, 93.45",Laoyutang Resort
188,Jalu,LY,1.587620e+09,78.69,29.03,21.55,18.0,0.0,15.46,"29.03, 21.55",Jalu Hotel
253,Spring Valley,US,1.587620e+09,79.00,36.11,-115.25,16.0,1.0,4.70,"36.11, -115.25",Westgate Flamingo Bay Resort
346,Sabha,LY,1.587621e+09,78.46,27.04,14.43,18.0,0.0,16.24,"27.04, 14.43",محطة ام الارانب -سبها مواصلات
425,Korla,CN,1.587621e+09,71.83,41.76,86.15,15.0,5.0,3.65,"41.76, 86.15",Gulisitan Hotel
516,Sakakah,SA,1.587621e+09,78.80,29.97,40.21,17.0,0.0,16.11,"29.97, 40.21",Fakhamat Al Orjoana Apartment
521,Ayagoz,KZ,1.587621e+09,77.38,47.97,80.44,16.0,0.0,17.49,"47.97, 80.44",Gostinitsa Nur

In [10]:
# replace that are empty with NaN
with_na = hotel_df.replace(r'^\s*$', np.nan, regex=True)

# drop the rows with NaN values
hotel_df_clean = with_na.dropna(how='any').reset_index()
hotel_df_clean = hotel_df_clean[["City","Country","Date Time","Temperature","Latitude","Longitude","Humidity","Cloudiness","Wind Speed", "Coordinates","Hotel Name"]]
hotel_df_clean

,City,Country,Date Time,Temperature,Latitude,Longitude,Humidity,Cloudiness,Wind Speed,Coordinates,Hotel Name
0,San Gabriel,US,1.587620e+09,77.00,34.10,-118.11,27.0,1.0,14.99,"34.1, -118.11",Hilton Los Angeles/San Gabriel
1,Suzun,RU,1.587620e+09,78.15,53.78,82.31,24.0,4.0,19.19,"53.78, 82.31",Elegant Lyuks
2,Kumul,CN,1.587620e+09,75.42,42.80,93.45,10.0,0.0,8.43,"42.8, 93.45",Laoyutang Resort
3,Jalu,LY,1.587620e+09,78.69,29.03,21.55,18.0,0.0,15.46,"29.03, 21.55",Jalu Hotel
4,Spring Valley,US,1.587620e+09,79.00,36.11,-115.25,16.0,1.0,4.70,"36.11, -115.25",Westgate Flamingo Bay Resort
5,Sabha,LY,1.587621e+09,78.46,27.04,14.43,18.0,0.0,16.24,"27.04, 14.43",محطة ام الارانب -سبها مواصلات
6,Korla,CN,1.587621e+09,71.83,41.76,86.15,15.0,5.0,3.65,"41.76, 86.15",Gulisitan Hotel
7,Sakakah,SA,1.587621e+09,78.80,29.97,40.21,17.0,0.0,16.11,"29.97, 40.21",Fakhamat Al Orjoana Apartment
8,Ayagoz,KZ,1.587621e+09,77.38,47.97,80.44,16.0,0.0,17.49,"47.97, 80.44",Gostinitsa Nur

In [11]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df_clean.iterrows()]
locations = hotel_df_clean[["Latitude", "Longitude"]]

In [12]:
humidity2 = hotel_df_clean["Humidity"]

fig2 = gmaps.figure()
heat_layer = gmaps.heatmap_layer(
    locations,
    weights=humidity2,
    dissipating=True,
    point_radius=None,
    opacity=0.6
)

# Add layer
fig2.add_layer(heat_layer)

# Add marker layer ontop of heat map
markers = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig2.add_layer(markers)

# Display Map

fig2

Figure(layout=FigureLayout(height='420px'))